.vscode

.artifacts/**
.tmp/**
.env

test-harness/.engine/**
test-harness/.env
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

# CommandBox Modules
modules/**

# Development artifacts
node_modules
includes

# log files
logs/**