.btn {
	border-radius: 0px;
}
.btn-primary{
	background-color: $btn-primary-bg;
	color: #fff;
}
.btn-secondary{
	background-color: $btn-secondary-bg;
	color: #fff;

	&:hover{
	background-color: darken( $btn-secondary-bg, 10% );
	color: #fff;
	}
}
.btn-border{
	border: 1px solid $dark-grey;
	box-shadow: none;
}
.btn-border.active, .btn-border:hover{
	background-color: $primary;
	color: #fff;
}
.btn-fluid{
	width:100%;
}
.btn-animate{
	color: #ffffff;
    background: $tertiary;
    -webkit-backface-visibility: hidden;
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 40px;
    border: 1px solid rgba(177, 5, 5, 0.5);

    &:hover{
    	background-color: #ffffff;
	    color: $tertiary;
	    border-color: $tertiary;
    }
}

div.v-popover{
	display: inline-block;
}