h1, h2, h3{
	.heading-highlight{
		color: $tertiary;
	}
}

a {
	color: #656565;
}

body{
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*adding-top: 140pxp;*/
}
h1, h2{
	font-family: 'Raleway', sans-serif;
}
#header {
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;

	.container {
		position: relative;
	}

	.header-top-row {
		background-color: $primary;
		font-family: 'Raleway',sans-serif;
		position: relative;
		width: 100%;

		p {
			color: #fff;
			line-height: 40px;
			margin: 0;

			a{
				color: #fff;
				text-decoration: underline;
			}
		}
	}
	.header-bg {
    	min-height: 150px;
    	background: url('../images/header-bg.png') repeat;
    }
	.header-bg-fixed {
    	min-height: 110px;
    }
	.header-main {
	    min-height: 150px;
	    -webkit-transition: height .5s ease;
	    -moz-transition: height .5s ease;
	    -o-transition: height .5s ease;
	    -ms-transition: height .5s ease;
	    transition: height .5s ease;
	}
	.header-main-fixed {
		min-height: 110px;

		#search-form{
			input{
				height: 35px;
			}
			button{
				height: 35px;
			}
		}
	}
    #search-form{
		input{
			height: 45px;
			border-radius: 0px;
		}
		button{
			background-color: $primary;
			border-radius: 0px;
			color: #fff;
			height: 45px;

			i{
				font-size: 1.5em;
			}
		}
	}
}

#header.header-top-fixed {
    position: fixed;
}


.header-logo{
	img {
		margin: 5px auto;
	}
}

.header-phone{
	color: $primary;
	text-align: center;
	margin: 5px 0px;

	.phone-number{
		font-family: Georgia, serif;
		font-size: 1.4em;
		font-weight: bold;
	}
	.phone-text{
		font-size: 1.4em;
	}
}

.footer-information{
	background: url('../images/footer-bg.png' ) no-repeat center;
	background-size: cover;

    .container{
    	padding-top: 50px;
    	padding-bottom: 50px;
    }

    .footerInfoBox{
    	color: #fff;
    }

    .address-box{
    	background: rgba( 255,255,255,.8);
    	padding: 20px;

    	h4{
    		color: $primary;
    	}
    }
}
.footer-copy{
	background-color: $dark-grey;
	.container{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.phone-number{
		color: $primary;
		font-family: Georgia, serif;
		font-size: 1.8em;
		font-weight: bold;
	}
}

.box-border {
    padding: 20px 30px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    margin-bottom: 30px}
.box-border h3 {
    margin: 10px 0
    }
 .social{
 	margin: 20px 0px;
 }

 #body-header{
 	background-position: center;
 	margin-top: 140px;
 	min-height: 400px;

 	.page-title{
 		color: #fff;
 		text-transform: uppercase;
 		font-size: 4.2em;
 		font-weight: bold;
 	}
 	.page-excerpt{
 		color: #cac9c9;
 		font-size: 2em;
 	}
 }
 .body-main-home{
 	padding-top: 130px;
 }
 .body-main-page{
 	padding-top: 148px;
 }
 #body-breadcrumbs{
 	background-color: #f2f1f1;
 	padding: 20px;

 	a {
    	color: #565656;
    }
 }

/* home-categories */
 .home-category {

 	.home-category-block {
    	position: relative;
    	height: -webkit-calc(100% - 70px);
	    height:    -moz-calc(100% - 70px);
	    height:         calc(100% - 70px);

    	.home-category-option {
    		min-height: 330px;
    		padding-bottom: 60px;
    		position: relative;

    		.home-category-list {
			    position: relative;
			    margin: 20px 0 0 12px;
			    padding-bottom: 15px;

			    li {
				    margin-bottom: -1px;
				    font-size: 16px;
				    line-height: 24px;

				    a {
					    position: relative;
					    display: block;
					    padding: 10px 10px 10px 64px;
					    font-family: 'Raleway',sans-serif;

						i {
						    position: absolute;
						    z-index: 1;
						    top: -1px;
						    bottom: -1px;
						    left: -1px;
						    width: 50px;
						    font-size: 16px;
						    line-height: 50px;
						    text-align: center;

						}
					}
				}
			}
    	}

    	.home-category-title {
		    position: absolute;
		    margin-top: -70px;
		    z-index: 20;
		    left: 0;
		    right: 0;
		    height: 70px;
		    background-color: $primary;
		    font-size: 24px;
		    font-family: 'Raleway',sans-serif;
		    color: #0e0e0e;

		    a {
			    text-decoration: none;
			    text-transform: uppercase;
			    color: #eaeaea;
			}

			i {
			    width: 70px;
			    height: 70px;
			    line-height: 70px;
			    background-color: $primary;
			    color: #fff;
			    text-align: center;
			    font-size: 28px;
			    margin-right: 10px;
			}
		}
	}
 }

 @media (min-width: 992px) {
 	.home-category {
	 	>.container>.row{
	 		display: flex;
	 	}
 	}
 }

.home-category .home-category-block .home-category-title a:hover {
    color: #fff;
}
.home-category .home-category-block .home-category-title i:after {
    content: '';
    position: absolute;
    border-right: 10px solid transparent;
    border-bottom: 0;
    border-top: 10px solid $primary;
    border-left: 10px solid transparent;
    left: 25px;
    bottom: -10px;
    z-index: 1}

.home-category .home-category-block .home-category-option .home-category-list li a:hover {
    text-decoration: none;
    color: $primary
    }
.home-category .home-category-block .home-category-option .home-category-list li a:hover i {
    color: $primary}
.home-category .home-category-block:hover .home-category-title {
    background-color: rgba(0,0,0,.8)}


 #page-home-page\/ads, #page-home-page\/what-our-customers-think{
 	padding-top: 50px;
 	padding-bottom: 50px;
 }

 #page-home-page\/quick-info, #page-home-page\/popular-restaurant-supply-brands, #page-home-page\/latest-custom-projects, #page-home-page\/quick-menus, #page-home-page\/ads, #page-home-page\/our-best-sellers, #page-home-page\/teaser, #page-home-page\/what-our-customers-think{
 	margin-left: -15px;
 	margin-right: -15px;

 	h1 {
 		text-transform: uppercase;
 		margin-bottom: 40px;

 		span{
 			color: $tertiary;
 		}
 	}
 }

 .quick-info-card {
 	border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size:  16px;
    margin: 20px 0;
    padding: 15px 10px;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover{
    	border-color: #eb2c33;
    	background-color: #eb2c33
    }

    i{
    	color: #fff;
	    text-align: center;
	    line-height: 80px;
	    font-size: 42px;
	    margin: auto;
	    display: block;
	    width: 80px;
	    height: 80px;
	    border-radius: 70px;
	    border: 1px solid #fff;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    }
    a {
	    position: absolute;
	    z-index: 11;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    h3 {
	    margin: 5px 0 5px;
	}
}

/* assets/sass/partials/_layout.scss */

#bestSellerCarousel{
	margin-left: -15px;
	margin-right: -15px;
}

resources/assets/sass/partials/_layout.scss
 .box-padded{
 	padding: 15px;
 }
 #collapseLocations{
 	background: #000;
 	color: #fff;
 }

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

 @media (min-width: 992px) {
	.header-logo{
		img {
			margin: 5px 0px;
		}
	}
	.header-phone{
		margin: 0px;

		.phone-number{
			font-size: 2.2em;
		}
	}
	.flex-center{
		display:flex;
		align-items: center;
	}
}
@media (max-width: 767px){
	.home-category .home-category-block .home-category-title{
		margin-top: 0px;
	}
	#header .header-bg, #header .header-main{
		min-height: 110px;
	}
	.header-main-block1{
		#logo-alt{
			height: 40px;
		}
		#container-fixed{
			float:left;
			width: 85%;
		}

		nav{
			margin-top: 50px;
		}

	}
}
.section-dark{
	color: #fff;
}
.bg-grey{
	background-color: $dark-grey;
}
.dis-n {
    display: none;
}

.box-border {
  padding: 20px 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
  h3 {
    margin: 10px 0;
  }
}

.btn-default-1 {
  border: 1px solid rgba(14, 14, 14, 0.3);
  color: #ffffff;
  padding: 9px 20px;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #eb2c33;
    border-color: #ffffff;
  }
}

.mb-25 {
	margin-bottom: 25px;
}


.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
.max-content{
	width: max-content;
	margin: 0 auto;
}
