/* Secondary Nav */

.secondary-nav {
	list-style: none;
	margin-bottom: 0px;
}
.secondary-nav-item {
	position: relative;

	&:hover {
		.account-menu-item {
			display: block;
			opacity: 1;
			top: 100%;
		}
		.secondary-menu-title {
			background-color: $tertiary;
		}
	}

	.secondary-menu-title {
		color: rgba(255,255,255,.8);
		display: block;
		line-height: 40px;
		padding: 0px 15px;
		text-align: center;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;

		&:hover{
			background-color: $tertiary;
			text-decoration: none;
		}
		i{
			font-size: 1.6em;
		}
	}

	.account-menu-item {
		background-color: rgba(0,0,0,.9);
		display: hidden;
		list-style: none;
		min-width: 140px;
		opacity: 0;
		position: absolute;
		top: -1000px;
		z-index: 1000;
		-webkit-transition: opacity .3s ease;
		-moz-transition: opacity .3s ease;
		-o-transition: opacity .3s ease;
		-ms-transition: opacity .3s ease;
		transition: opacity .3s ease;

		a {
			border-top: 1px solid #2a2a2a;
			display: block;
			color: rgba(234,234,234,.5);
			line-height: 38px;
			padding: 5px 15px;
			text-align: left;

			&:hover {
				background-color: $primary;
				color: #fff;
				text-decoration: none;
			}

			i:before {
				display: inline;
			}
		}
	}

	.cart-icon{
		color: $secondary;
		background-image: url('../../images/cart.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		font-size: 1.2em;
		width: 50px;

		.cart-count{
			color: white;
			vertical-align: super;
		}
	}
}

#locations-menu {
	.secondary-menu-title{
		background-color: $tertiary;

		&:focus {
			text-decoration: none;
		}
	}

	.secondary-menu-title.collapsed {
		background-color: transparent;

		&:hover {
			background-color: $tertiary;
		}
	}
}

#cart-menu{
	.secondary-menu-title{
		background-color: $secondary;
		line-height: 32px;

		&:hover{
			background-color: $tertiary;
		}
	}
}

/* Main Nav */

.navbar-main{
	border-radius: 0px;
	bottom: auto;
	left: auto;
	margin-bottom: 0px;
	position: relative;

	.navbar-nav{
		>li{
			text-transform: uppercase;
			>a {
				color: $primary;
				padding: 10px 17px;
				.count-badge{
					position: absolute;
					font-size: .55em;
					height: 20px;
					width: 20px;
					padding: 7px 0px 0px 0px;
					margin-left: -14px;
					margin-top: -10px;
					border-radius: 55px;
					opacity: .8;
					background-color: $btn-primary-bg;
					color: #fff;
				}
				&:hover{
					.count-badge{
						background-color: #fff;
						color: $btn-primary-bg;
					}
				}
			}
		}
	}

	.nav > li > a i.fa-caret-right {
		font-size: 15px;
		position: absolute;
		right: 6px;
		bottom: 14px;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background-color: $primary;
		color: #fff;
	}
}
.navbar-main.active {
	left: 25%;
}
.navbar-main-close{
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	font-size: 1.5em;
	display: none;
}
.navbar-main-toggle {
	position: absolute;
	display: none;
	left: 7px;
	top: 0px;
	padding: 9px 10px;
	margin-right: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	border: 1px solid transparent;

	.icon-bar {
		background-color: $primary;
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
	}

	.icon-bar + .icon-bar {
		margin-top: 4px;
	}

}
@media (min-width: 992px) {
	.navbar-main{
    bottom: 0;
    left: 25%;
    width: 100%;
    margin-top: -30px;
		font-size: 1.1em;
	}

}
@media (max-width: 991px){
	.navbar-main-close{
		display: inline;
	}
	.navbar-main-toggle {
		display: block;
	}
	.navbar-main {
		display: none;
		height: 100vh;
		width: 320px;
		top: 0px;
		bottom: 0;
		left: -340px;
		background-color: rgba(255,255,255,.9);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: absolute;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 1001;
		-webkit-overflow-scrolling: touch;
		transition: all .5s linear;
	}

	.navbar-main-header {
		text-align: right;
	}

	ul.navbar-nav, .navbar-nav > li{
		float: none;
		margin: 0;
	}

	.dropdown-menu {
		position: relative;
		top: auto;
		left: aouto;
		z-index: 1000;
		display: none;
		float: none;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.navbar-main.active {
		left: 0;
		display: block;
	}

}


/* Footer Nav */

.footer-nav{
	color: #fff;
	font-size: 1.2em;
	list-style: none;
	margin: 20px;
	padding-left: 0px;
	text-transform: uppercase;

	ul{
		border-top: 1px solid #fff;
		font-size: .8em;
		list-style: none;
		margin-top: 5px;
		padding-left: 0px;

		li{
			margin: 8px 0px;
		}
	}

	a{
		color: #fff;
	}
}




/* Nav Pills */

.nav-pills {
	> li {
		&.active > a {
			background-color: $primary;
			&:hover, &:focus {
				background-color: $secondary;
			}
		}
		> a {
			background-color: #eaeaea;
			border-radius: 0;
			font-size: 16px;
			i {
				font-size: 18px;
				display: block;
				height: 24px;
			}
			&:hover {
				background-color: $secondary;
				color: #ffffff;
				box-shadow: none;
				i {
					color: #ffffff;
				}
			}
		}
	}
	margin-top: 10px;
}