.block-pagination-top{
  margin-bottom: 0px !important;
}
.block-pagination {
  margin-bottom: 40px;
  ul > {
    .active > {
      a, span {
        border-color: #eb2c33;
        color: #ffffff;
        background-color: #eb2c33;
      }
      a:hover, span:hover {
        background: #eb2c33;
        border-color: #eb2c33;
      }
    }
    li {
      > a {
        &:focus, &:hover {
          border-color: #eb2c33;
          background: #eb2c33;
          color: #ffffff;
        }
        border: 1px solid #eaeaea;
        color: rgba(14, 14, 14, 0.5);
      }
    }
  }
}