

.product-item-image,.wishlist-item-image, .product-item-image-placeholder{
  height: 100px;
  width: 100%;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}
.wishlist-item-image{
  height : 275px;
}

.product.light {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 5px solid #ffffff;
  max-width: 263px;
  margin: 5px auto 10px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  &:hover {
    border-color: #ffffff;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    .product-caption {
      background-color: #ffffff;
    }
    .product-compare, .product-wishlist {
      right: 10px;
    }
  }
  
  .product-item-image, .product-item-image-placeholder{
    height: 255px;
  }

  .figure-hover-overlay {
    min-height: 260px!important;
  }

  .product-compare {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    color: #eb2c33;
    display: block;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 40px;
    border: 1px solid rgba(235, 44, 51, 0.5);
    z-index: 103;
    bottom: 10px;
    right: -100px;
    &:hover {
      background-color: rgba(235, 44, 51, 0.9);
      color: #ffffff;
    }
  }
  .product-wishlist {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    color: #eb2c33;
    display: block;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 40px;
    border: 1px solid rgba(235, 44, 51, 0.5);
    z-index: 103;
    bottom: 52px;
    right: -100px;
    &:hover {
      background-color: rgba(235, 44, 51, 0.9);
      color: #ffffff;
    }
    &.in-wishlist{
      background-color: $secondary;
      color: #ffffff;
      border: 1px solid $secondary;
    }
  }

  .product-compare{
    &.in-comparison{
      background-color: $secondary;
      color: #ffffff;
      border: 1px solid $secondary;
    }
  }
  .product-caption {
    text-align: left;
    position: relative;
    padding: 10px 10px 5px 10px;
    background-color: #ffffff;
    min-height: 100px;
    .product-name {
      font-size: 14px;
      padding: 0 0 5px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $font-family-sans-serif;
      color: #0e0e0e;
      &:hover {
        color: #eb2c33;
      }
    }
    .block-name {
      display: inline-block;
      height:175px;
    }
  }
  .product-cart {
    color: #ffffff;
    margin: 10px 10px;
    text-align: left;
    a {
      display: inline-block;
      font-size: 19px;
      color: #ffffff;
      background: #b10505;
      -webkit-backface-visibility: hidden;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      line-height: 40px;
      border: 1px solid rgba(177, 5, 5, 0.5);
      &:hover {
        background-color: #ffffff;
        color: #b10505;
        border-color: #b10505;
      }
    }
  }
  .product-request {
    color: #f7941d;
    margin: 10px 10px;
    text-align: left;
    a {
      display: inline-block;
      font-size: 19px;
      color: #ffffff;
      background: #f7941d;
      -webkit-backface-visibility: hidden;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      line-height: 40px;
      border: 1px solid rgba(247, 148, 29, 0.5);
      &:hover {
        background-color: #ffffff;
        color: #f7941d;
        border-color: #f7941d;
      }
    }
  }
  .product-caption {
    height: 125px;
    .product-price, .priceWithDiscount {
      color: rgba(14, 14, 14, 0.9);
      font-size: 15px;
      margin: 0;
    }
    .product-price span, .priceWithDiscount span {
      color: rgba(14, 14, 14, 0.5);
      font-size: 13px;
      text-decoration: line-through;
    }
  }
  .description {
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
    margin: 7px 10px 0px 10px;
    height:50px;
  }
  .tag_number {
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
    margin: 7px 10px 0px 10px;
    height:25px;
  }
  .product-new {
    position: absolute;
    font-size: 14px;
    z-index: 5;
    height: 38px;
    text-align: center;
    line-height: 28px;
    left: -25px;
    top: -8px;
    color: #ffffff;
    background-color: #5eb22d;
    width: 70px;
    padding-top: 10px;
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .product-sale {
    position: absolute;
    font-size: 14px;
    z-index: 6;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 40px !important;
    text-align: center;
    padding: 17px;
    right: 3px;
    top: 3px;
    line-height: 13px;
    color: #eb2c33;
    border: 1px solid rgba(235, 44, 51, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.last-sale {
  margin: 30px auto  !important;
  .product-sale {
    background-color: #5eb22d !important;
    border-color: #5eb22d !important;
    color: #ffffff !important;
  }
  .time {
    position: absolute;
    bottom: 10px;
    left: 0;
    margin: 10px 0 0 10px;
    font-size: 15px;
    color: #fff;
    text-align: left;
    z-index: 7;
    div {
      display: inline-block;
      float: left;
      background-color: rgba(235, 44, 51, 0.9);
      width: 40px;
      padding: 3px 8px 3px;
      margin-right: 2px;
      text-align: center;
    }
    .cd-time {
      display: block;
      margin-top: 0;
      font-size: 11px;
      line-height: 11px;
      padding-bottom: 2px;
    }
  }
}

.product-section figure {
  max-width: 280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.figure-hover-overlay {
  position: relative;
  overflow: hidden;
  height:100px;
  .figure-href {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
  }
  .img-overlay {
    position: absolute;
    opacity: 1;
    z-index: 2;
  }
  img {
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.img-overlay {
  position: absolute;
  opacity: 0.5;
  z-index: 2;
}

.product {
  &:hover .figure-hover-overlay img {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .figure-hover-overlay:hover .img-overlay {
    opacity: 0;
  }
  &.list {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 5px solid #ffffff;
    margin: 5px auto 30px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    &:hover {
      border-color: #ffffff;
      -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      .product-caption {
        background-color: #ffffff;
      }
      .product-compare, .product-wishlist {
        right: 10px;
      }
    }
    .product-caption {
      text-align: left;
      padding: 10px 10px 5px 10px;
      background-color: #ffffff;
      min-height: 100px;
      .product-name {
        font-size: 14px;
        padding: 5px 0 5px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-family-sans-serif;
        color: #0e0e0e;
        &:hover {
          color: #eb2c33;
        }
      }
      .block-name {
        display: inline-block;
      }
    }
    .product-cart {
      color: #ffffff;
      margin-bottom: 20px;
      a {
        display: inline-block;
        font-size: 19px;
        color: #eb2c33;
        -webkit-backface-visibility: hidden;
        padding: 0 15px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        line-height: 40px;
        border: 1px solid rgba(235, 44, 51, 0.5);
        &:hover {
          background-color: #ffffff;
          color: #b10505;
          border-color: #b10505;
        }
      }
    }

    .product-caption {
      .product-price, .priceWithDiscount {
        color: rgba(14, 14, 14, 0.9);
        font-size: 15px;
        margin: 0;
        span {
          color: rgba(14, 14, 14, 0.5);
          font-size: 13px;
          text-decoration: line-through;
        }
      }
    }
    
    .description {
      font-size: 14px;
      color: rgba(14, 14, 14, 0.7);
      margin: 10px 0 20px;
    }
    .product-new {
      position: absolute;
      font-size: 14px;
      z-index: 5;
      height: 38px;
      text-align: center;
      line-height: 28px;
      left: -25px;
      top: -8px;
      color: #ffffff;
      background-color: #5eb22d;
      width: 70px;
      padding-top: 10px;
      -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
      -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
      -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
      -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
      transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .product-sale {
      position: absolute;
      font-size: 14px;
      z-index: 6;
      height: 60px;
      width: 60px;
      -webkit-border-radius: 40px !important;
      -moz-border-radius: 40px !important;
      border-radius: 40px !important;
      text-align: center;
      padding: 17px;
      line-height: 13px;
      right: 3px;
      top: 3px;
      color: #eb2c33;
      border: 1px solid rgba(235, 44, 51, 0.5);
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
}

/* Products Grid */

.block-products-modes {
  padding: 10px 15px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  label {
    line-height: 34px;
    font-weight: 400;
    margin: 0;
  }
  .product-view-mode {
    a {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      margin-right: 10px;
      font-size: 28px;
      color: rgba(14, 14, 14, 0.3);
      vertical-align: middle;
      line-height: 34px;
      &:hover {
        color: #eb2c33;
      }
    }
    .active {
      color: #eb2c33;
    }
  }
  select {
    border-color: #ddd;
  }
}


/* Products List */

.product.list {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 5px solid #ffffff;
  margin: 5px auto 30px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  &:hover {
    border-color: #ffffff;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    .product-caption {
      background-color: #ffffff;
    }
    .product-compare, .product-wishlist {
      right: 10px;
    }
  }
  .product-compare {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    color: #eb2c33;
    display: block;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 40px;
    border: 1px solid rgba(235, 44, 51, 0.5);
    z-index: 5;
    bottom: 10px;
    right: -100px;
    &:hover {
      background-color: rgba(235, 44, 51, 0.9);
      color: #ffffff;
    }
  }
  .product-wishlist {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    color: #eb2c33;
    display: block;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 40px;
    border: 1px solid rgba(235, 44, 51, 0.5);
    z-index: 6;
    bottom: 52px;
    right: -100px;
    &:hover {
      background-color: rgba(235, 44, 51, 0.9);
      color: #ffffff;
    }
  }
  .product-caption {
    text-align: left;
    padding: 10px 10px 5px 10px;
    background-color: #ffffff;
    min-height: 100px;
    .product-name {
      font-size: 14px;
      padding: 5px 0 5px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $font-family-sans-serif;
      color: #0e0e0e;
      &:hover {
        color: #eb2c33;
      }
    }
    .block-name {
      display: inline-block;
    }
    .product-cart {
      color: #ffffff;
      margin-bottom: 20px;
      a {
        display: inline-block;
        font-size: 19px;
        color: #ffffff;
        background: #b10505;
        -webkit-backface-visibility: hidden;
        padding: 0 15px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        line-height: 40px;
        border: 1px solid rgba(235, 44, 51, 0.5);
        &:hover {
          background-color: #ffffff;
          color: #b10505;
          border-color: #b10505;
        }
      }
    }
    .product-request {
      color: #f7941d;
      margin: 10px 10px;
      text-align: left;
      a {
        display: inline-block;
        font-size: 19px;
        color: #ffffff;
        background: #f7941d;
        -webkit-backface-visibility: hidden;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        line-height: 40px;
        border: 1px solid rgba(247, 148, 29, 0.5);
        &:hover {
          background-color: #ffffff;
          color: #f7941d;
          border-color: #f7941d;
        }
      }
    }
    .product-price {
      color: rgba(14, 14, 14, 0.9);
      font-size: 15px;
      margin: 0;
      span {
        color: rgba(14, 14, 14, 0.5);
        font-size: 13px;
        text-decoration: line-through;
      }
    }
  }
  .description {
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
    margin: 10px 0 20px;
  }
  .product-new {
    position: absolute;
    font-size: 14px;
    z-index: 5;
    height: 38px;
    text-align: center;
    line-height: 28px;
    left: -25px;
    top: -8px;
    color: #ffffff;
    background-color: #5eb22d;
    width: 70px;
    padding-top: 10px;
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .product-sale {
    position: absolute;
    font-size: 14px;
    z-index: 6;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 40px !important;
    text-align: center;
    padding: 17px;
    line-height: 13px;
    right: 3px;
    top: 3px;
    color: #eb2c33;
    border: 1px solid rgba(235, 44, 51, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

/* Product Detail */
.sku-options{
  margin-top: 15px;
  padding: 1%;
  .sku-option{
    border: 1px $secondary solid;
    background-color: $lightest-grey;
    padding: 5px 7px 5px 7px;
    float:left;
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 7px;
    &.selected{
      border-color: $primary;
      background-color: $medium-grey;
    }
    .sku-select-img-wrap{
      width: 40px;
      height: 40px;
      background-size:cover;
      margin-right: 7px;
    }
  }
}


/* Products Loading */

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.product.loading.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 470px;
  position: relative;

  .background-masker {
    background: #fff;
    position: absolute;

    &.image-bottom {
      height: 10px;
      width: 100%;
      top: 315px;
    }
    &.title-side {
      height: 30px;
      width: 40%;
      right: 0;
      top: 320px;
    }
    &.title-bottom {
      height: 6px;
      width: 100%;
      top: 350px;
    }
    &.price-side {
      height: 30px;
      width: 70%;
      right: 0;
      top: 350px;
    }
    &.price-bottom {
      height: 80px;
      width: 100%;
      top: 370px;
    }

  }

}

/* Product List Specific */
.productlist.loading.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 315px;
  position: relative;

  .background-masker {
    background: #fff;
    position: absolute;

    &.image-side {
      height: 300px;
      width: 35px;
      top: 0;
      left: 250px;
    }
    &.image-bottom {
      height: 10px;
      width: 100%;
      top: 315px;
    }
    &.title-top {
      height: 20px;
      width: 100%;
      top: 0;
      left: 250px;
    }
    &.title-side {
      height: 30px;
      width: 100%;
      left: 450px;
      top: 20px;
    }
    &.title-bottom {
      height: 6px;
      width: 100%;
      top: 50px;
      left: 250px;
    }
    &.price-side {
      height: 25px;
      width: 100%;
      left: 360px;
      top: 56px;
    }
    &.price-bottom {
      height: 20px;
      width: 100%;
      top: 80px;
      left: 250px;
    }
    &.description-side {
      height: 100px;
      width: 100%;
      left: 700px;
      top: 100px;
    }
    &.description-bottom {
      height: 115px;
      width: 100%;
      top: 200px;
      left: 250px;
    }

  }
}

.round_section_label{
  color: #FFFFFF;
  border:1px solid;
  border-color:#b10505;
  background-color: #b10505;
  height:25px;
}

.round_section_label_dis{
  border:1px solid;
  height:25px;
}