#productDetail {
  .productDetailHeader {
    margin-bottom: 30px;
  }
}

.product-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#product-zoom {
  border: 1px solid #eaeaea;
  width: 100%;
  height: 450px;
  object-fit: contain;
}

#product-zoom-zoomContainer{
  z-index: 40 !important;
}

#thumbnailNestedGallery {
  top: 0;
  z-index: 1000;
  
  a {
    text-decoration: none;
    display: block;
    float:left;
    width: 80px;
    height:80px;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit:cover;
    border: 2px solid #eaeaea;
    &:hover {
      border-color: #790000;
    }
  }
}

.block-product-detail {
  margin-bottom: 30px;
}

#review .product-rating {
  padding: 5px 0 3px;
  position: relative;
  display: inline-block;
  .stars {
    unicode-bidi: bidi-override;
    font-size: 12px;
    text-align: center;
    span.star {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      &.active:before {
        content: "\f005";
      }
      &:hover {
        cursor: pointer;
      }
      &:before {
        content: "\f006";
        padding: 0 2px;
        color: rgba(235, 44, 51, 0.9);
      }
      &:hover {
        &:before, ~ span.star:before {
          content: "\f005";
          color: #790000;
        }
      }
    }
  }
  .review {
    color: rgba(14, 14, 14, 0.7);
    font-size: 11px;
    position: absolute;
    left: 85px;
    top: 7px;
    text-decoration: none;
    &:hover {
      color: #790000;
    }
  }
}

.product-detail-section {
  .clearfix {
    padding: 5px 0 5px;
  }
  label {
    width: 120px;
    color: rgba(14, 14, 14, 0.5);
  }
  .product-information {

    .availability {
      &.active {
        font-size: 20px;
        color: #508B3E;
      }
    }

    .form-control {
      width: 120px;
    }
    .shopping-cart-buttons a {
      display: inline-block;
      margin-top: 5px;
      font-size: 16px;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      color: #790000;
      border: 1px solid rgba(121, 0, 0, 0.5);
      &:hover {
        background-color: #790000;
        color: #ffffff;
      }
      &.addToCart {
        width: 140px;
        background-color: #790000;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  .product-price {
    color: #790000;
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    span {
      color: #888;
      font-size: 12px;
      text-decoration: line-through;
    }
  }
  a {
    text-decoration: none;
    color: #0e0e0e;
    &:hover {
      color: #790000;
    }
  }
  h3 {
    text-transform: uppercase;
    margin: 5px 0;
    color: #0e0e0e;
  }
  .product-rating {
    width: 100%;
    padding: 5px 0 3px;
    position: relative;
    .stars {
      unicode-bidi: bidi-override;
      direction: rtl;
      font-size: 12px;
      text-align: left;
      span.star {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        &.active:before {
          content: "\f005";
        }
        &:hover {
          cursor: pointer;
        }
        &:before {
          content: "\f006";
          padding: 0 2px;
          color: rgba(235, 44, 51, 0.9);
        }
        &:hover {
          &:before, ~ span.star:before {
            content: "\f005";
            color: #790000;
          }
        }
      }
    }
    .review {
      color: rgba(14, 14, 14, 0.7);
      font-size: 11px;
      position: absolute;
      left: 85px;
      top: 7px;
      text-decoration: none;
      &:hover {
        color: #790000;
      }
    }
  }
  .description {
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
  }
}



.product-detail-sidebar-section {
  .clearfix {
    padding: 5px 0 5px;
  }
  .product-information {
    .mt-20 {
      margin-top: 20px
    }
    .mb-20 {
      margin-bottom: 20px;
    }
    .shopping-cart-buttons a {
      display: inline-block;
      margin-top: 5px;
      font-size: 16px;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      color: #790000;
      border: 1px solid rgba(121, 0, 0, 0.5);
      &:hover {
        background-color: #790000;
        color: #ffffff;
      }
      &.addToCart {
        width: 140px;
        background-color: #790000;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  .product-cart-total-price {
    label {
      font-size: 20px;
      width: 60px;
      color: rgba(14, 14, 14, 0.5);
    }
    p {
      font-size: 20px;
      margin: 0;
      font-weight: 500;
    }
  }

  #quantityControlForm {
    padding: 10px 0;
    margin: 0;
    a.qtyControl {
        cursor: pointer;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 38px;
        color: #790000;
        border: 1px solid rgba(121, 0, 0, 0.5);
        &:hover {
          background-color: #790000;
          color: #ffffff;
        }
    }
    .qty {
        width: 80px;
        height: 40px;
        text-align: center;
        pointer-events: none;
    }
  }

}



#MyContactForm label {
  cursor: text;
  display: block;
  margin: 0 0;
  position: relative;
  top: 0;
  width: 100%;
}

#form-wrapper #MyContactForm .error {
  bottom: 20px;
  color: #FF0000;
  font-family: inherit;
  font-size: 12px;
  font-weight: normal;
  left: auto;
  letter-spacing: 0;
  position: absolute;
  right: 20px;
  text-transform: capitalize;
  width: auto;
}


.block-product-detail {
  .loading.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 400px;
    position: relative;

    .background-masker {
      background: #fff;
      position: absolute;
    }

  }
}