.tabs-grey{
	.nav-tabs > li > a {
		border: none;
	}
	.nav-tabs > li.active a{
		background-color: #ebebeb;
		border-radius: 0px;
		border: none;
	}
	.tab-content{
		background-color: #ebebeb;
		padding: 25px;

		a{
		  color: #f7941d;
		}
	}
}
.tabs-steps{
	.nav-pills > li > a {
    	background-color: #eaeaea;
    }
    .nav-pills > li.active > a, .nav-pills > li > a:hover {
    	background-color: #790000;
    }
	.nav-pills > li > a.disabled {
		opacity: 0.5;
		cursor: default;
	}

	.nav-pills > li > a.disabled:hover {
	    background-color: #eaeaea;
	    color: #656565;

	    i {
	    	color: #656565;
	    }
	}
}