.testimonial{
	padding: 30px;
	text-align: center;

	>i {
		font-size: 3.8em;
	}
	.quote{
		font-family: $font-family-sans-serif;
		font-size: 1.2em;
		line-height: 1.2em;
	}
	.author{
		font-weight: bold;
	}
}