.toolbar-for-light {
  width: 80px;
  position: relative;
  right: 0;
  top: 5px;
  .prev {
    float: left;
  }
  a, button {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 26px;
    padding: 0 7px;
    border: 1px rgba(14, 14, 14, 0.3) solid;
    color: rgba(14, 14, 14, 0.3);
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    &:hover {
      border-color: #b10505;
      background-color: #b10505;
      color: #ffffff;
    }
    i {
      line-height: 36px;
      padding: 0 3px;
      font-size: 22px;
    }
  }
  .next,
  .owl-next {
    float: right;
  }
}