.text-danger{
	color: $tertiary;
}
.text-warning,.text-secondary{
	color: $secondary
}
.text-muted{
	color: $muted-grey;
}
.text-ultra-muted{
	color: $medium-grey;
}
.text-primary{
	color: $primary;
}
.text-xxlg{
	font-size: 3em;
}